html {
    height: 50%;
    }
body {
    text-align: center;
    background: #56baed;
    height: 30%;
   }
   .board {
    margin: auto;
    width: 700px;
    display: block;
    height: 700px;
    align: center;
   }
   .board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em
   }
