html {
    height: 50%;
    }
body {
    text-align: center;
    background: #56baed;
    height: 30%;
   }
   .board {
    margin: auto;
    width: 1050px;
    display: block;
    height: 1050px;
    align: center;
   }
   .board button {
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 9em;
   }
  #messages {
   font-size: 70px;
   font-family: monospace;
   float: center;
   color: purple;
   }
