html {
    
    }
body {
    text-align: center;
    background: #56baed;

   }
   .board {
    margin: auto;
    width: 350px;

    height: 350px;
    align: center;
   }
   .board button {
    height: 100px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    float: center;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 3em;
   }
  #messages {
   font-size: 15px;
   font-family: monospace;
   float: center;
   color: purple;
   }
